body{
    width: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}



label{
    display: block;
    text-align: center;
}

input{
    height: 25px;
    width: 200px;
    align-items: center;
}

div{
    display: inline-flex;
    
}
button{
    justify-content : flex-end;
    color: white;
    background-color: brown;
    height: 40px;
    width: 100px;
}

/* fieldset{
    text-align: center;
}

form{
    width: 25%;
}

button{
    color: white;
    background-color: brown;
}

input{
    height: 25px;
} */
